@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	To log in, you can use the following accounts:
</p>
<ul>
	<li>
		petr - regular user
	</li>
	<li>
		matikar - teacher account
	</li>
	<li>
		admin - administrator account
	</li>
</ul>
<p>
	The password for all users is the same: the first four letters of the alphabet (the first letter is capitalized), followed by the numbers one to four, ending with a period.
</p>
